// colors

$green-primary: #9AF49E;
$black-primary:#060505;
$grey-form: #DEE5E0;
$form-text: #0605056c;

// font family

$overpass:'Overpass Mono', monospace;
$poppins: 'Poppins', sans-serif;

// font weights

$regular: 400;
$medium: 500;





