body{
    margin: 0;
}

.header{
    padding-left: 10rem;
    padding-right: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #060505;
    height: 6rem;
    
    
    .logo{
        height: 5rem;
    }
    .buttons{
        display: flex;
        gap: 4rem;
        .headerbtn{
            background-color: transparent;
            color: #00E0C2;
            cursor: pointer;
            font-size: large;
            font-family: 'Overpass Mono';
    } 
    }
    
    
}
