@import '../../style-variable/style-variables.style';

.header {
    background-color: $black-primary;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    font-family: $overpass;
    font-weight: $medium;
    padding: 1.6rem .8rem;
    font-size: 1.2rem;
    a {
        text-decoration: none;
        color: $green-primary;

        &:first-child{
            text-transform: uppercase;
        }

        &:is(:not(:first-child)){
            text-transform: capitalize;
        }
    }

}